* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'roboto', sans-serif;
    line-height: 16px;
    font-size: 16px;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar {
  background-color: #1f2937; 
  color: white;
  height: 80px;
}

.container {
    width: 1200px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar a {
    color: darkgray;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: white;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.header {
    background-color: #1f2937;
    color: white;
    min-height: 400px;
    height: 490px;
}

button {
    color: white;
    margin-top: 10px;
    background-color: #3882f6;
    padding: 10px 10px;
    border: none;
    width: 120px;
    cursor: pointer;
    text-align: center;
    border-radius: 12px;
}

.header h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.2;
    width: 400px;
}

.header p {
    width: 400px;
}

.header img {
    margin-top: 40px;
    max-width: 400px;
}


.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.information {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-top: 20px;
    padding-bottom: 20px; 
}

.flex-container {
    height: 550px;
    padding-top: 50px;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    align-content: space-between;
    align-items: top;
    justify-content: center;
}

.square {
    display: flex;
    justify-content: center;
    border-radius: 10%;
    background-color: white;
    width: 220px;
    height: 220px;
    border: 5px solid #3882f6;
    margin: 20px;
}

h2 {
    font-weight: 100;
    width: 250px;
    text-align: center;
}




 .gray {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    height: 450px;
}


.gray h1 {
    font-size: 36px;
    font-weight: 50;
    font-style: italic;
    color: #636364;
    line-height: 1.2;
    width: 900px;
}

.quote p {
    display: flex;
    justify-content: end;
    color: #302f30;
    width: 900px;
    font-weight: bolder;
    font-size: x-large;
    height: 40px;
}


.gray .quote {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.bluebox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1%;
    width: 1300px;
    height: 150px;
    background-color: #3882f6;
}

.bluebox h1 {
    font-size: x-large;
    color: white;
}

.bluebox p {
    color: #cecece;
}

 .bluebox button {
 color: white;
 border: solid white;
 width: 130px;
 font-size: 18px;
 cursor: pointer;
 width: 160px;
}  


.navbar2 .logo {
    font-size: large;
    font-weight: bold;
    color: darkgray;
}

.navbar2 {
  background-color: #1f2937; 
  color: white;
  height: 110px;
}

.container2 {
    width: 1200px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}


.navbar2 a:hover { 
    color: white;
} 

.navbar2 .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
